/* GLOBAL */

:root {}

nav {}

.nav-color {}

footer {}

/* INDEX PAGE */
.card-content {
  margin-left: 70px;
}


/* DETAILS PAGE */
.tab-color {
  color: red;
}

/* CONTACT PAGE */
form {
  margin: 50px 500px 100px 500px;
}
